input[type="range"] {
  accent-color: red;
}
.input-responsive {
  border: none;
  border-bottom: 1px solid lightgreen;
  width: 150px;
  height: 2.3rem;
}

/* .input-responsive:active {
  outline: none;
} */
*:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
